---
import Banner from '~/components/common/Banner.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>

  <Banner
    crumbs ='Home'
    crumbs2 ='Servicios'
    title='Empresas'  
    imagen='~/assets/images/company.jpg' />



<div>


</div>
  
</Layout>
